<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="binding">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpTransport />
                </binding>
                <binding name="binding_SOAP12">
                    <mtomMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="binding1">
                    <!--    WsdlImporter 在 ServiceDescription“urn:sap-com:document:sap:rfc:functions”中遇到了无法识别的策略断言:    -->
                    <!--    <wsdl:binding name='binding'>    -->
                    <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpTransport />
                </binding>
                <binding name="binding_SOAP121">
                    <!--    WsdlImporter 在 ServiceDescription“urn:sap-com:document:sap:rfc:functions”中遇到了无法识别的策略断言:    -->
                    <!--    <wsdl:binding name='binding_SOAP12'>    -->
                    <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
                    <mtomMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.80:8000/sap/bc/srt/rfc/sap/zws_mz/600/lp01/binding"
                binding="customBinding" bindingConfiguration="binding" contract="MM_MZDemo.ZWS_MZ"
                name="binding" />
            <endpoint address="http://192.168.0.80:8000/sap/bc/srt/rfc/sap/zws_mz/600/lp01/binding"
                binding="customBinding" bindingConfiguration="binding_SOAP12"
                contract="MM_MZDemo.ZWS_MZ" name="binding_SOAP12" />
            <endpoint address="http://saperpqas.dyrs.com:8000/sap/bc/srt/rfc/sap/zws_mz/600/lp01/binding"
                binding="customBinding" bindingConfiguration="binding1" contract="ServiceReference1.ZWS_MZ"
                name="binding1" />
            <endpoint address="http://saperpqas.dyrs.com:8000/sap/bc/srt/rfc/sap/zws_mz/600/lp01/binding"
                binding="customBinding" bindingConfiguration="binding_SOAP121"
                contract="ServiceReference1.ZWS_MZ" name="binding_SOAP121" />
        </client>
    </system.serviceModel>

</configuration>